.contenido{
	font-family: 'Grandstander', cursive;
	background: #0077B6;
	list-style-type: none;
	text-decoration-line: none;
	color: black;
}

.nav{
	font-weight: 1000;
	font-size: 110%;
}

 .li1 {
 	padding: 5%;
 	padding-top: 0;
 	padding-bottom: 0;
 	background: #4EA8DE;
 	color: black;
 	list-style-type: none;
	text-decoration-line: none}

 .productos{
 	display: flex;
 	height: 90%;
 	width: 60%;
 	flex-wrap: wrap;}
 
<<<<<<< HEAD
=======
 /*.logo {
 	font-size: 300%;
 background-image: url(../assets/ts.jpg);
	background-size: contain;
	width: 100%;
	display: flex;
	justify-content: space-around;
	color: black;
	font-weight: 700;*/
}
>>>>>>> 590ce1db8bf185fd8f768a2fbf3f48cc5ba5c63a
 
.Oferta {
	height: 25%;
	width: 25%;
 	padding: 2% ;
	list-style-type: none;
	text-decoration-line: none}

.padOfer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	list-style-type: none;
	text-decoration-line: none}

main div a {
	display: flex;
	justify-content: center;}

	.oferta1{
		display: flex;
		justify-content: center;}

.footer	{
	border: solid black 4px;
	margin: 1%;
	background-image: url(../assets/ts.jpg);
	background-size: contain;
}

a {
	list-style-type: none;
	text-decoration-line: none;
	color: black;}

.pops{
	display: flex;
	justify-content: center;
	display: grid;
	grid-template-columns: 8fr;
	grid-template-rows: 8fr ;
	width: 35%;
	height: 35%;
	margin: auto;


}

.border{
	border: solid black 4px;
}

.oferta2{
	background: #4EA8DE ;
	font-size: 150%;
}

.oferta3 {
	display: flex;
	justify-content: center;
}

li{list-style-type: none;
	text-decoration-line: none}


.estrenos{
	background: #4EA8DE;
	font-size: 150%;
	padding-top: 2%;

}

.estrenos1{
	display: flex;
	justify-content: center;
	padding-top: 2%;
}
.familia{
	display: flex;
	background: lightblue;
	justify-content: center;
}

.familia1{
	padding: 1%;
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
}

.logo2{
	font-size: 250%;
	display: flex;
	justify-content: space-around;
	color: black;
	font-weight: 700;
}

.navFooter{
	display: flex;
	justify-content: center;
	color: black;
}

.liFooter{
	padding: 1%;
	font-size: 125%;
	color: black;
}

.contacto{
	background: floralwhite;
	color: black;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 1%;
}

.margin1{
	margin: 1%;
}

.logos{
background: #4EA8DE ;
font-size: 125%;
width: 100%;
border: solid black 2px;
display: flex;
justify-content: center;
}

.busqueda{
	margin: 1%;
}

.estrenos2{
	width: 35%;
}

.estrenos3{
	display: flex;
	justify-content: space-around;
	padding: 2%;
}


header{
	grid-area: header;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;
}

/* Mobile */

@media only screen and (min-width: 0px) and (max-width: 768px) {
	.contenido{
	display: grid;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	grid-template-rows: repeat(2 33.34%);
	grid-template-columns: repeat(2 33.34%);
}

header{
	grid-area: header;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;}

.logo {
 	font-size: 150%;
 background-image: url(../assets/ts.jpg);
	background-size: contain;
	width: 30%;
	display: flex;
	justify-content: space-around;
	color: black;
	font-weight: 700;
	text-align: center;
}

.familia{
	display: flex;
	background: lightblue;
	justify-content: space-around;
}

.estrenos1{
	background: #4EA8DE;
	font-size: 125%;
	display: flex;
	justify-content: space-around;
	padding: 2%;

}

.estrenos {
	padding: 1%;
}

.nuestrasTiendas{
	display: flex;
	flex-wrap: wrap;

}

.margin1 {
	width: 50%;
}

.mapas{
	width: 75%;
	height: auto;
}

.estrenos2{
	width: 50%;
	height: 50%;
}
}

.productos:hover {filter: blur(5px);}

.li1.animate__animated:hover {
	animation-iteration-count: infinite;
	font-weight: 600;
}

.estrenos.animate__animated:hover{
animation-iteration-count: infinite;
animation-duration: 1.5s;
}

.contacto0{
	padding: 1%;
}